@charset "UTF-8";

/*공통css*/
/* 1. 기본값 여백제거 2. 구역 사이즈 기준 : 테두리기준*/
*{
	margin: 0px; padding: 0px; 
	box-sizing: border-box;
	list-style-type: none;
}

@font-face {
    font-family: 'DOSIyagiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSIyagiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family:'DOSIyagiMedium';
}

a{color: black; text-decoration: none;}


/* 웹 컨텐츠 사이즈 */ /* 950px ~ 1350px */
.webcontainer{ width: 1100px; margin: 0 auto; }

/**/
/*
	box-sizing : 구역의 사이즈 기준
		box-sizing: content-box
		구역사이즈+여백 =>사이즈
		300 + 10 => 310
	
		box-sizing: border-box;
		300 + 10 => 300
*/

#header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 20px 0px 50px 0px;
}

.mainlogo{width: 5%;}

.mainlogo img{width: 100%;}

.mainmenu{
	display: flex;
	font-size: 20px; 
}

.mainmenu li{margin-right: 20px }

.submenu{
	display: flex;
	font-size: 13px;
	align-items: center;
}

.submenu li{ margin-right: 10px; }

.himg{ 
	width: 50px; height: 50px;
	border: solid 1px #e8e8e8;
	border-radius: 50%;
}