@charset "UTF-8";

.kioskwrap{
	font-family: 'PilseungGothic';
	width: 700px; /* 구역 가로 사이즈 */
	margin: 50px auto;/* 구역 가로 가운데 정렬 */
}

.himg{
	width: 100%;
	
	/* 비율맞추기 */
	object-fit : cover;
}
/* 카테고리 */
.categorymenu{
	display: flex; /* 하위요소들의 가로배치 */
	justify-content: space-around;/* 가로배치방법 */
	
}
/* 선택/클릭 안된 카테고리 */
.categorymenu li{
	color: #8e8e8e;
}
/* 선택/클릭 된 카테고리 */
.categoryselect{
	color: red !important; /* 위에서 이미 color 속성 사용했으므로 중복!! */
	/* 1. id 별도로 해서 속성 적용 2. style속성 3. !important*/
	border-bottom: 3px solid red;
	padding-bottom: 3px;
}

/* 제품들 출력구역 */
.productbox{
	height: 450px; /* height 생략시 기본값 auto : 내용물 크기만 자동으로 늘어남 */
	display: flex;
	flex-wrap: wrap;
	overflow-y:scroll; /* 만약에 자식요소들이 현재 구역보다 사이즈가 더 커지면  */
}
/* 제품 1개 */
.product{ width: 30%; text-align: center; margin: 5px 10px 30px 10px;}
.product img{width: 100%;}
.product .pprice{color: red;}
/* 카트출력 구역 */
.cartbox{
	height: 250px;
	background-color: #eeeeee;
	position: relative;
}

.carttop{
	display: flex;
	justify-content: space-between;
	padding: 10px 50px;
}

/* 카트내 제품수 원형 */
.ccount{
	background-color: red;
	width: 30px;/* 사이즈가 적용 ??? span inline 기본값이므로 width , heigth 안됨 */
	display: inline-block;
	/* inline : 한줄차지x 사이즈적용x block : 한줄차지o 사이즈적용o inline-block : 한줄차지x 사이즈적용o */
	border-radius: 30px;
	font-size: 10px; color: white; text-align: center; padding: 4px;
}
.ctotal{color: red;}

/* 카트내 제품 출력구역 *//* flex는 자식요소들이 만약에 사이즈가 더 크면 자동으로 자식요소들의 사이즈를 줄임 => 방지[최소사이즈 고정] */
.cartbottom{display: flex; overflow-x:scroll;}

/* 카트내 제품 1개 */
.citem{
	min-width: 20%;/* 한줄에 4개씩 */
	background-color: white;
	padding: 10px;
	margin: 5px 10px;
	position: relative;
}

/* 카트 개별 취소 버튼 */
.icencle{position: absolute; right: 10px; top: 10px;}

/* 카트 제품명 */
.iname{width: 80%; height: 70px;}

.iprice{color: red;}

.cartbtn{
	display: flex;
	position: absolute;
	/* 가장가까운 요소의 position : relative; 기준점/ 만일 상위요소내 1 */
	width: 100%;
	bottom: 0px;/* 최하단에 배치 */
}

.cartbtn button{
	width: 50%;
	font-size: 20px;
	color: white;
	border: none;
	padding: 20px;
}

.cenclebtn{background-color: black;}
.orderbtn{background-color: red;}

