@charset "UTF-8";
*{
	margin: 0; 
	padding: 0;
	font-family: "맑은 고딕"
}

a{text-decoration: none;
color: black;}

li{
	list-style-type:none; }

#wrap{
   width: 100%;
   margin: 0 auto;
   
}

/* ---- 헤더 시작 ----  */

#header{
   width: 1184px;
   display: flex;
   justify-content: space-around;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 10px;
}

.main_logo{
   align-items: center;
   
}

a{
   display: flex;   
   
}
.main_logo img{
   width: 100px;
}


.arrow {
   font-size: 5px;
   line-height: 30px;
   margin-left: 10px;
   
}



.header_menu{
   display : flex;
   align-content: center;
   width: 1030px;
}

.menu_option{
   display : flex;
   font-weight: bold;
   margin-top: 15px;
   
   
}


.menu_option li{
   padding: 20px 37px;
   padding-top: 25px;
   font-size: 22px;
   margin-left: -25px;
   font-family: "SEBANG_Gothic_Bold";
   

   
}



/* 헤더 밑 검정 바 안 색, 위치 조정 */
#menu_black_bar{
	height:58px;
	padding:10px 0;
	display:flex;
	justify-content: center;
	align-items:center;
	background-color: #000000}

/* 검정 바 안 a태그 텍스트 색 */
#menu_black_bar a{
	color: white;
}

/* 검정바 안 내용 블록 크기 */
.black_bar_space{
	width:1184px;
	
}

/* 검정바 안 블록 안 폰트 사이즈 공간 사이즈 */
.black_bar_text {
	width:1144px;
	padding:0 20px;
	font-size: 20px;
	
}

/* 검정바 안 내용물 정렬 */
.black_bar_text li{
	display: flex;
	display: inline-block;
}

/* 메뉴소개 본문 사이즈 */
#burger_king_menu_main{
	width:1184px;
	margin: 0 auto;
	}

/* 본문 내용물 설정 */
.burgerking_menu_content{
	width:1144px;
	padding:0 20px;
	
	margin-top: 50px;
	margin-bottom: 45px;
}


/* 메뉴 소개 폰트 설정 */
.burgerking_menu_content li{
	font-size:16px;
	font-weight:bold;
	
	display:flex;
	display: inline-block;
	margin-right: 10px;
	
	
}
/* 메뉴 소개 헤더폰트 설정 */
.burgerking_menu_content h1{ 
	font-size: 40px;
	color: black;
}

/* 메뉴소개 정렬 */
.menu_list{ 
	display:flex;
	justify-content: space-between;
	}

/* 선택된 메뉴 폰트 색 */
.menu_list_select{
	color:#E22219; 
	border-bottom: 2px solid #E22219;
	padding-bottom: 5px;
}

/* 선택되지 않은 폰트 색 */
.menu_list_btn{color:#B8B8B8; }

/* 마우스 올리면 색 바뀜 */
.menu_list_btn:hover { color: black;}

/* 메뉴판 설정 */
.burger_list{
	width:1144px;
	padding:0 20px;
	display:flex;
	flex-wrap:wrap;
	
	}

/* 메뉴판 안 콘텐츠 설정 */
.burger_item{
	width:286px; height:300px;
	font-weight: bold;
	font-size: 21px;
	text-align: center;
	position: relative;
	
}

/* 뉴 마크 크기, 위치 설정  */
.new_burger{
	width:57px;
	position: absolute;
	top:-10px; left: 29px; 
	z-index: 1;
}

/* 버거 이미지  크기 */
.burger_set img{width: 220px;}
/* 메뉴판 폰트 여백 */
.burger_set{margin-bottom: 20px;}